.slickSlide {
    opacity: 0.3;
    transform: scale(.8333);
    transition-duration: 1000ms;
}

.slickCenter {
    opacity: 1;
    transform: scale(1);
}

.slickList {
overflow: hidden !important;
}

@media (max-width: 1025px){
    .slickSlide {
        opacity: 1;
        transform: scale(1);
        transition-duration:1000ms;
    }
}